body {
    background-color: #331c1cd8;
    color: white;
    font-family: Cambria;
    font-size: 20px;
  }
  
  img {
    border: 4px solid #181818;
    border-radius: 100%;
  }
  
  .wrapper {
    max-width: 30%;
    margin: auto;
    text-align: Center;
    border-style: solid;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 4px solid black;
  }

  .red {
    color: #ff0000;
  }
  
  .yellow {
    color: #ffff6b;
  }
  
  .skyblue {
    color: #30d2e7;
  }
  
  .green {
    color: #25dc1c;
  }